body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#room-selection {
    text-align: center;
}

#room-selection input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#room-selection button {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
}

#chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#room-display {
    padding: 0.5rem;
    background: #f0f0f0;
    text-align: center;
    font-weight: bold;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.hidden {
    display: none !important;
}